{% extends 'slider-base.html' %} {% block content %} {% load static %}
<!-- <section class="jobseeker">

    <div class="container-full container-fluid">
        <div class="">
            <div class="row">
                <div class="seek_container">
                    <div class=" seek_content">
                        <div class="mation">
                            <div class="mation-image  justify-content-start">
                                {% if profile.profile_photo %}
                                <img src="{{profile.profile_photo.url}}" alt="" class="mation-pic"> {%else%}
                                <img src="{%static 'photos/avatar.png' %}" class="mation-pic" alt="My profile picture"> {% endif %}
        
                            </div>
                            <h3 class="justify-content-end">INFORMATION</h3>
                        </div>
                        <hr>
                        <div>
                            <h4>First Name : <span>{{ jobseeker.first_name }}</span> </h4>
                            <h4>Last Name: <span>{{ jobseeker.last_name }}</span> </h4>
                            <h4>Username : <span>{{ jobseeker.username }}</span> </h4>
                            <h4>Email Address : <span>{{ jobseeker.email }}</span> </h4>
                            <h4>Bio : <span>{{ profile.bio }}</span> </h4>
                            <h4>Location : <span>{{ profile.location }}</span> </h4>
                            <h4>Availability : <span class="badge badge-danger text-white">{{ profile.availability }}</span>
                            </h4>
                            <h4>Job Category : <span class="badge badge-warning text-dark">{{ profile.job_category }}</span>
                            </h4>
                            <h4>Salary Expectations : <span class="badge badge-primary text-white">
                                    {{profile.salary}}</span> </h4>
                            <h4>Contact : <span>{{ profile.contact }}</span> </h4>
                        </div>
                    </div>
                </div>

                <div class="sthg">
                    <div class="docc">
                        {% if documents %}
                        <h4 class="text-center">Documents and Resumes</h4>
                        {% for document in documents %}
                        <div class="card">
                            <h2><i class="fas fa-file-pdf"></i> {{document.name}}</h2>
                            <a href="" target="_blank" class="btn btn-outline-info doc mb-1"><i class="fas fa-eye"></i> View</a>
                            <a href="{{ document.pdf.url }}" download="" class="btn btn-outline-info doc mb-1"><i class="fa fa-download"
                                    aria-hidden="true"></i> Download</a>
                        </div>
                        {% endfor %} {%else%}
                        <div class="card">
                            <h4 class="text-center">No Uploaded Documents and Resumes</h4>
                        </div>
                        {% endif %}
                    </div>
                    <div class="">
                        {% if portfolio %}
                        <h4 class="text-center">Portfolios</h4>
                        {% for portfolio in portfolio %}
                        <div class="card">
                            <h2><i class="fas fa-link"></i>{{portfolio.name}}</h2>
                            <a href="{{ portfolio.link }}" target="_blank" class="btn btn-outline-info doc">View</a>
                        </div>
                        {% endfor %} {%else%}
                        <div class="card">
                            <h4 class="text-center">No Portfolio Uploaded</h4>
                        </div>
                        {% endif %}
                
                    </div>
                </div>
            </div>
    
            
        </div>
            
    </div>
    

    <div class="prof-logo">
        <a href=""><i class="uil uil-facebook"></i></a>
        <a href=""><i class="uil uil-twitter"></i></a>
        <a href=""><i class="uil uil-instagram"></i></a>
    </div>
    </div>

    </div>

</section> -->

<section class="jobseeker">
    <div class="container-full container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="seek_content mt-3 mb-5">
                    <div class="mation">
                        <div class="mation-image  justify-content-start">
                            {% if profile.profile_photo %}
                            <img src="{{profile.profile_photo.url}}" alt="" class="mation-pic"> {%else%}
                            <img src="{%static 'photos/avatar.png' %}" class="mation-pic" alt="My profile picture"> {% endif %}
    
                        </div>
                        <h3 class="justify-content-end">INFORMATION</h3>
                    </div>
                    <hr>
                    <div>
                        <h4>First Name : <span>{{ jobseeker.first_name }}</span> </h4>
                        <h4>Last Name: <span>{{ jobseeker.last_name }}</span> </h4>
                        <h4>Username : <span>{{ jobseeker.username }}</span> </h4>
                        <h4>Email Address : <span>{{ jobseeker.email }}</span> </h4>
                        <h4>Bio : <span>{{ profile.bio }}</span> </h4>
                        <h4>Location : <span>{{ profile.location }}</span> </h4>
                        <h4>Availability : <span class="badge badge-danger text-white">{{ profile.availability }}</span>
                        </h4>
                        <h4>Job Category : <span class="badge badge-warning text-dark">{{ profile.job_category }}</span>
                        </h4>
                        <h4>Salary Expectations : <span class="badge badge-primary text-white">
                                {{profile.salary}}</span> </h4>
                        <h4>Contact : <span>{{ profile.contact }}</span> </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4">
                <div class="docc">
                    {% if documents %}
                    <h4 class="text-center">Documents and Resumes</h4>
                    {% for document in documents %}
                    <div class="card  mb-1 p-2">
                        <h2><i class="fas fa-file-pdf"></i> {{document.name}}</h2>
                        <a href="" target="_blank" class="btn btn-outline-info doc mb-1"><i class="fas fa-eye"></i> View</a>
                        <a href="{{ document.pdf.url }}" download="" class="btn btn-info docc-view mb-1"><i class="fa fa-download"
                                aria-hidden="true"></i> Download</a>
                    </div>
                    {% endfor %} {%else%}
                    <div class="card">
                        <h4 class="text-center">No Uploaded Documents and Resumes</h4>
                    </div>
                    {% endif %}
                </div>
                <div class="folio">
                    {% if portfolio %}
                    <h4 class="text-center">Portfolios</h4>
                    {% for portfolio in portfolio %}
                    <div class="card p-2 mb-2">
                        <h3><i class="fas fa-link"></i>{{portfolio.name}}</h3>
                        <a href="{{ portfolio.link }}" target="_blank" class="btn btn-info folio-view">View</a>
                    </div>
                    {% endfor %} {%else%}
                    <div class="card">
                        <h4 class="text-center">No Portfolio Uploaded</h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
</section>


{% endblock %}