{% extends 'slider-base.html' %} {% block content %} {% load static %}

<!-- <section class="profile container-fluid">
    <div class=" mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">

                    <img src="{{profile.profile_photo.url}}" alt="" class="card-img-top">
                    <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                        class="card-img-top" alt="My profile picture">
                    <div class="card-body text-center">
                        <h4 class="card-text">
                            Brenda Kanale
                        </h4>
                        <p>Brenda</p>
                        
                        <p>
                            <small>Turn coffee into code</small>
                        </p>
                    </div>

                    
                </div>
                

                <div class="details">
                    <div class="first">
                       
                      <div>
                        <a href="" class="phots"><i class="fa fa-plus text-white"></i>   
                          Edit Profile
                        </a>
                      </div>
                
                    </div>
                </div>

 

            </div>
           
            
            
        </div>
    </div>

    </div>
    
</section>
<br><br><br> -->

<section class="profile">
    <div class="container-full container-fluid ">
        <div class="row" style="padding-top: 5rem;">
            <div class="col-lg-6 col-md-12 ">
                <div class="">
                    {% if profile.profile_photo %}
                    <img src="{{profile.profile_photo.url}}" alt="" class="prof-pic"> {%else%}
                    <img src="{%static 'photos/avatar.png' %}" class="card-img-top prof-pic" alt="My profile picture"> {% endif %}
                </div>

            </div>
            <div class="col-lg-6 col-md-12 ">
                <h4>Full Name : {{ user.first_name }}</h4>
                <h4>Last Name: {{ user.last_name }}</h4>
                <h4>Username : {{ user.username }}</h4>
                <h4>Company Name : {{ profile.company }}</h4>
            </div>
        </div>


        {%endblock%}