{% extends 'slider-base.html' %} {% block content %} {% load static %} {% if request.user.is_verified %}
<section class="container mb-5">
    <div class="pt-4">
        <h2 class="text-primary text-center mb-1 intro-header">My Profile Info</h2>
        <hr>
        <div class="row" style="padding-top: 3rem;">
            <div class="col-md-4 mb-4" style="padding-top: 2rem; border: solid 1px;border-color: #13b5ea; border-radius: 20px;">
                {% if profile.profile_photo %}
                <img src="{{profile.profile_photo.url}}" alt="" class="profile-pic"> {%else%}
                <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" class="card-img-top profile-pic" alt="My profile picture"> {% endif %}
                <div class="buttons mt-5 text-center">
                    <a href="{% url 'update_jobseeker_profile' %}">
                        <button class="btn btn-primary mr-1 mb-1" type="submit">Update Profile</button>
                    </a>
                    <a href="">
                        <button class="btn btn-primary mr-1 mb-1" type="submit">Upload PDF</button>
                    </a>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7 mb-2 pt-4" style="padding-left: 2rem;">
                <!-- <h6 class="text-primary text-center mb-2">My Profile Info</h6> -->
                <table class="table table-striped text-dark" border="1">
                    <tr>
                        <th>First Name</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{ user.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.username}}</td>
                    </tr>
                    <tr>
                        <th>Email Address</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Bio</th>
                        <td>{{ profile.bio }}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{profile.location}}</td>
                    </tr>
                    <tr>
                        <th>Availability</th>
                        <td>{{profile.availability}}</td>
                    </tr>
                    <tr>
                        <th>Job_Category</th>
                        <td>{{profile.job_category}}</td>
                    </tr>
                    <tr>
                        <th>Salary Expectation</th>
                        <td>{{profile.salary}}</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>{{profile.contact}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

</section>

{% else %}
<h1>user is not verified</h1>
{% endif %}


<div class="foot-cont mt-4">
    <footer class="text-center text-dark text-lg-start " style="background-color:  #e6f0f9;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Company name
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        <p>
                            <a class="">Services</a>
                        </p>
                        <p>
                            <a class="">Contact</a>
                        </p>
                        <p>
                            <a class="">Home</a>
                        </p>
                        <p>
                            <a class="">Bootstrap Angular</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fas fa-home mr-3"></i> Ngong Road, NP12, Nairobi</p>
                        <p><i class="fas fa-envelope mr-3"></i> snagjob@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +254 768 990</p>
                        <p><i class="fas fa-print mr-3"></i> +254 983 224</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!-- Facebook -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>

                        <!-- Google -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>

                        <!-- Linkedin -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Github -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 text-white" style="background-color: #0969C3">
            © 2022 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Snagjob.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>

{% endblock %}