{% extends "base.html" %}
{% block content %}
<section class="profile container-fluid">
    <div class=" mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">

                    <img src="{{profile.profile_photo.url}}" alt="" class="card-img-top">
                    <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                        class="card-img-top" alt="My profile picture">
                    <div class="card-body text-center">
                        <h4 class="card-text">
                            Brenda Kanale
                        </h4>
                        <p>Brenda</p>
                        
                        <p>
                            <small>Turn coffee into code</small>
                        </p>
                    </div>

                    
                </div>
                
                <div class="profile">

                    <section class="profile container">
                        <div class=" mt-5">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                    
                                        {% if profile.profile_photo %}
                                        <img src="{{profile.profile_photo.url}}" alt="" class="card-img-top">
                                        {%else%}
                                        <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                                            class="card-img-top" alt="My profile picture">
                                        {% endif %}
                                        <div class="card-body text-center">
                                            <h4 class="card-text">
                                                {{ user.first_name }} {{ user.last_name }}
                                            </h4>
                                            <p>{{ user.username }}</p>
                                            <p>
                                               
                                            {% if profile.contact %}
                                            <small>{{ profile.contact }}</small>
                                            {% else %}
                                            <span class="badge rounded-pill bg-info text-white">No contact</span>
                                            {% endif %}
                                            </p>
                                            <p>
                                                {% if profile.bio %}
                                                <small>{{ profile.bio }}</small>
                                                {% else %}
                                                <span class="text-danger">No about me</span>
                                                {% endif %}
                                            </p>
                                            <h6>Joined on: <span class="badge rounded-pill bg-secondary text-white">
                                                    {{ user.date_joined|date }} </span></h6>
                    
                                        </div>
                                    </div>
                </div>

                <div class="details">
                    <div class="first">
                       
                      <div>
                        <a href="" class="phots"><i class="fa fa-plus text-white"></i>   
                          Edit Profile
                        </a>
                      </div>
                
                    </div>
                </div>

 

            </div>
           
            
            
        </div>
    </div>

    </div>
    
</section>
<br><br><br>


{% endblock %}