@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital,wght@1,700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden !important;
}
.intro-bg{
    background-image: url(/static/photos/connect.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 450px;
}
.intro-overlay{
    height: 450px;
    background-color: rgb(9,105,195,0.8);
    color: white;
    text-align: center;
    padding-top: 10%;
    border-bottom: solid 20px ;
    border-color: rgb(9,105,195);
   
}
.services-page{
    font-family: 'Poppins', sans-serif;
}
.intro-header,.merri-font{
    font-family: 'Merriweather', serif !important;
}
.services-bg{
    background-color: #F3F9FF;
}
.service-description, .about-us{
    padding-top: 5%;

}
.about-description{
    font-family: 'Lato', sans-serif;
    line-height: 40px;
}
.place{
    font-family: 'Lato', sans-serif;
}
.form-text{
    display: none !important;
}

.navbar-brand{
    font-size: 40px;
    font-weight: 800;
    color: #0969C3 !important;
}
.profile{
    min-height: 100vh;
    background-color: #F3F9FF;
}

.login_container{
    background-color: #F3F9FF;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.login_details{
    padding-top: 7rem;
}
.login_image{
    background-color: #0969C3;
    min-height: 500px;
    padding: 3rem 1rem;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

}
.login_form{
    background-color: #fff;
    padding: 3rem;
    min-height: 500px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.forms{
    margin-top: 2rem;
}
.login_form h1{
    text-align: center;
    color: #0969C3;
    font-weight: 700;
}
.login_image p{
    color: #fff;
    margin-top: 30px;
}

.sign{
    height: 400px;
    /* object-fit: cover; */
    width: 400px;
    margin-left: 5rem;
}



@media only screen and (min-width: 768px) {
    .about-img{
        width: 500px !important;
    }
}