@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital,wght@1,700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden !important;
}

.navigation {
    background: transparent;
    z-index: 5;
}

.intro-bg {
    background-image: url(/static/photos/connect.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 450px;
}

.intro-overlay {
    height: 450px;
    background-color: rgba(219, 235, 250, 0.8);
    color: black;
    text-align: center;
    padding-top: 10%;
    border-bottom: solid 20px;
    border-color: rgb(9, 105, 195);
}

.services-page {
    font-family: 'Poppins', sans-serif;
}

.intro-header,
.merri-font {
    font-family: 'Merriweather', serif !important;
}

.services-bg {
    background-color: #F3F9FF;
}

.service-description,
.about-us {
    padding-top: 5%;
}

.about-description {
    font-family: 'Lato', sans-serif;
    line-height: 40px;
}

.place {
    font-family: 'Lato', sans-serif;
}

.form-text {
    display: none !important;
}

.navbar-brand {
    /* font-size: 40px; */
    font-weight: 800;
    color: #0969C3 !important;
}

.profile {
    min-height: 100vh;
    background-color: #F3F9FF;
}

.login_container {
    background-color: #F3F9FF;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.login_details {
    padding-top: 7rem;
}

.login_image {
    background-color: #0969C3;
    min-height: 500px;
    padding: 3rem 1rem;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.login_form {
    background-color: #fff;
    padding: 3rem;
    min-height: 500px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.forms {
    margin-top: 2rem;
}

.login_form h1 {
    text-align: center;
    color: #0969C3;
    font-weight: 700;
}

.login_image p {
    color: #fff;
    margin-top: 30px;
}

.sign {
    height: 400px;
    /* object-fit: cover; */
    width: 400px;
    margin-left: 5rem;
}

.profile {
    overflow: hidden;
}

.prof {
    overflow: hidden;
}

.profile_content {
    background: #0969C3;
    color: #fff;
    width: 38rem;
    min-height: 20rem;
    border-radius: 40px;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
}

.profile_cont {
    background: #0969C3;
    color: #fff;
    width: 38rem;
    min-height: 20rem;
    border-radius: 40px;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
}

.profile_details {
    margin-top: 2rem;
}

.profile_content h4 {
    margin-left: 2rem;
}

.circle {
    position: absolute;
    left: 2rem;
    top: -20rem;
    opacity: 2;
}

.profile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0969C3;
    clip-path: circle(36% at 86% 26%);
    z-index: 1;
}

.prof::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0969C3;
    clip-path: circle(36% at 86% 26%);
    z-index: 1;
}

.profile:after {
    content: '';
    position: absolute;
    top: -6%;
    left: 2.6%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    clip-path: circle(16% at 83% 40%);
    z-index: 1;
}

.prof:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    clip-path: circle(16% at 83% 40%);
    z-index: 1;
}


/* .prof-pic{
    position: relative;
    margin-left: 23rem;
    margin-top: 1rem;
} */

.prof-pic {
    position: relative;
    float: right;
    margin-right: 4rem;
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 4;
}

.profile-pic {
    position: relative;
    margin-left: 15.5rem;
    margin-top: -2.0rem;
    margin-bottom: 2rem;
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 4;
}

@media only screen and (min-width: 768px) {
    .about-img {
        width: 500px !important;
    }
    .home-desc {
        padding-left: 10% !important;
    }
}

.login_container {
    background-color: #F3F9FF;
    min-height: 100vh;
}

.reg_container {
    background-color: #F3F9FF;
    min-height: 100vh;
}

.login_details {
    padding-top: 7rem;
}

.reg_details {
    padding-top: 7rem;
}

.login_image {
    background-color: #0969C3;
    min-height: 500px;
    padding: 3rem 1rem;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.reg_image {
    background-color: #0969C3;
    min-height: 500px;
    padding: 3rem 1rem;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.login_form {
    background-color: #fff;
    padding: 2rem;
    min-height: 500px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.reg_form {
    background-color: #fff;
    padding: 2rem;
    min-height: 500px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.reg_form fieldset {
    /* padding: 3rem; */
    margin-left: 3rem;
    font-size: large;
}

.forms {
    margin-top: 2rem;
}

.reg_form h1 {
    text-align: center;
    color: #0969C3;
    font-weight: 900;
}

.login_image p {
    color: #fff;
    margin-top: 30px;
    font-size: x-large;
    text-align: justify;
}

.reg_image p {
    color: #fff;
    margin-top: 30px;
    font-size: x-large;
    text-align: justify;
}

.sign {
    height: 400px;
    /* object-fit: cover; */
    width: 400px;
    margin-left: 3rem;
    margin-right: 5rem;
}

.reg_form button {
    border-radius: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    font-family: sans-serif;
}

#up {
    color: #000;
    font-weight: bold;
}


/* ----------------------------------------------------------------- */


/* Google Font CDN Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.contact_us {
    min-height: 100vh;
    width: 100%;
    /* background: #c8e8e9; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* background-color: rgb(9,105,195); */
}

.conta {
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #F3F9FF;
}

.conta .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conta .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: rgb(9, 105, 195);
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.conta .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: rgb(9, 105, 195);
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: rgb(9, 105, 195);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: #5029bc;
}

@media (max-width: 950px) {
    .conta {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }
    .conta .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .conta {
        margin: 40px 0;
        height: 100%;
    }
    .conta .content {
        flex-direction: column-reverse;
    }
    .conta .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .conta .content .left-side::before {
        display: none;
    }
    .conta .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}


/* ------------------------------------------------------------ */

.asteriskField {
    color: red !important;
}

.textinput,
.emailinput,
.textarea {
    border: 1px solid;
    border-color: rgb(9, 105, 195);
}

.btn-color {
    background-color: rgb(9, 105, 195) !important;
    color: white;
}

.contact-img {
    height: 100% !important;
    width: 100% !important;
}

@media only screen and (min-width: 768px) {
    .contact-img {
        height: 500px !important;
    }
}

.border-contact {
    border-bottom: solid 20px;
    border-color: rgb(9, 105, 195);
}

.employer_home {
    background-color: #F3F9FF;
    min-height: 100vh
}

.rectangle {
    position: absolute;
    top: .4%;
    left: 51%;
    border-radius: 70px;
    min-height: 96vh;
    min-width: 50rem;
    background-color: #0969C3;
    z-index: 1;
    display: block;
}

.home_employ h1 {
    margin-top: 10rem;
}

.head {
    font-size: 4rem;
    margin-left: 4rem;
}

.employer_img {
    position: relative;
    top: 10%;
    left: 24%;
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    z-index: 4;
}

.prof-button {
    border-radius: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-family: sans-serif;
    flex: 3px;
}

.pdf-button {
    border-radius: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-family: sans-serif;
    margin-left: 12rem;
}

.leeft {
    padding-left: 2rem;
    gap: 20px;
}

.trial {
    margin-bottom: 200px;
}

@media screen and (max-width: 550px) {
    .profile::before {
        display: none;
    }
    .profile::after {
        display: none;
    }
    .profile_content h4 {
        font-size: 20px;
    }
}


/* For medium devices */

@media screen and (max-width: 568px) {
    .profile::before {
        display: none;
    }
    .profile::after {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .profile::before {
        display: none;
    }
    .profile::after {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .profile::before {
        display: none;
    }
}

@media screen and (min-width: 1224px) {
    .profile::before {
        display: initial;
    }
    .profile::after {
        display: initial;
    }
}